<link rel="stylesheet" href="assets/CSS/styles.css">


<div class="card-container">
  <div class="card" style="width: 18rem;">
    <img src="{{ asset('assets/images/Athlétisme.jfif') }}" class="card-img-top" alt="Athlétisme">
    <div class="card-body">
      <p class="card-text">Athlétisme.</p>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="{{ asset('assets/images/aviron.jfif') }}" class="card-img-top" alt="aviron">
    <div class="card-body">
      <p class="card-text">Aviron.</p>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="{{ asset('assets/images/badminton.jfif') }}" class="card-img-top" alt="badminton">
    <div class="card-body">
      <p class="card-text">Badminton.</p>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="{{ asset('assets/images/basketball.jfif') }}" class="card-img-top" alt="basketball">
    <div class="card-body">
      <p class="card-text">Basketball.</p>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="{{ asset('assets/images/bmxfreestyle.jfif') }}" class="card-img-top" alt="bmxfreestyle.">
    <div class="card-body">
      <p class="card-text">Bmxfreestyle..</p>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="{{ asset('assets/images/bmxracing.jfif') }}" class="card-img-top" alt="bmxracing">
    <div class="card-body">
      <p class="card-text">Bmxracing.</p>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="{{ asset('assets/images/boxe.jfif') }}" class="card-img-top" alt="boxe">
    <div class="card-body">
      <p class="card-text">Boxe.</p>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="{{ asset('assets/images/breaking.jfif') }}" class="card-img-top" alt="breaking">
    <div class="card-body">
      <p class="card-text">Breaking.</p>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="{{ asset('assets/images/canoecourseenligne.jfif') }}" class="card-img-top" alt="canoecourseenligne">
    <div class="card-body">
      <p class="card-text">Canoe course en ligne.</p>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="{{ asset('assets/images/canoekayakslalom.jfif') }}" class="card-img-top" alt="canoekayakslalom">
    <div class="card-body">
      <p class="card-text">Canoe kayak slalom.</p>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="{{ asset('assets/images/surf.jfif') }}" class="card-img-top" alt="surf">
    <div class="card-body">
      <p class="card-text">Surf.</p>
    </div>
  </div>

</div>
