{% extends 'base.html.twig' %}

{% block title %}Liste des offres{% endblock %}


{% block body %}
    <main class="container">
        <div class="col-12">
            <h1>Liste des offres</h1>
        </div>
        <div class="card-container"> 
            {% for offre in offres %}
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">{{ offre.type }}</h5>
                        <p class="card-text"> Prix : {{ offre.prix }}  €</p>
                        {% if offre.capacite == 1 %}
                            <p class="card-text"> Capacité : {{ offre.capacite }} personne</p>
                        {% else %}
                            <p class="card-text"> Capacité : {{ offre.capacite }} personnes</p>
                        {% endif %}
                        <a href="{{ path('cart_add', { id: offre.id }) }}" class="btn btn-primary">Ajouter au panier</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </main>
{% endblock %}
